ion-row {
    width: 100%;
}
.grid {
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    width: 70px;
    color: #2196f3;
    background: #2196f31a;
    ion-label {
        h2 {
            margin: 0 !important;
            font-size: 24px;
            font-family: "Shanti";
        }
        p {
            padding: 0;
            margin: 0;
            font-size: 10px;
            font-family: "Lato";
            color: inherit !important;
        }
    }
}
.para {
    font-size: 13px;
    text-align: left;
    font-family: "Lato";
    padding: 0px 10px;
}
ion-button {
    // width: 100%;
}
ion-segment {
    height: 50px;
    font-size: 20px;
}
.available-time {
    margin: 10px 0px;
}
ion-card {
    padding: 14px 9px;
    position: absolute;
    left: 0;
    bottom: 10px;
}
ion-chip {
    font-size: 11px;
}
::-webkit-scrollbar {
    display: none;
}
.close-schedule {
    ion-label {
        font-family: 'Lato';
        font-size: 13px;
    }
    ion-icon {
        font-size: 26px;
        color: var(--ion-color-primary, #3880ff) !important;
    }
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}
.active {
    background: var(--ion-color-primary-tint, #4c8dff) !important;
    color: #fff;
}
