<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar mode="md" placeholder="Search here for doctors..."></ion-searchbar>
    <!-- <ion-icon name="search" slot="end"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-slides  pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let doctor of doctors">
          <ion-card class="ion-card">
            <img [src]="doctor.img" />
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <ion-list-header>
        Categories
      </ion-list-header>
    </ion-row>
    <ion-row class="">
      <div class="categorieslist" [style.max-width.px]="width-40">
        <div class="category" *ngFor="let category of categories">
          <img [src]="category.img" />
          <ion-label>
            {{category.name}}
          </ion-label>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <ion-list>
        <ion-list-header>
          Top Rated Doctors
        </ion-list-header>
        <ion-item *ngFor="let doctor of doctors" lines="none" class="doctor-list" (click)="viewDoctor(doctor)">
          <ion-avatar slot="start">
            <img [src]="doctor.img" />
          </ion-avatar>
          <ion-label>
            <p><ion-icon name="star"></ion-icon>{{doctor.rating}}</p>
            <h2>{{doctor.name}}</h2>
            <label>{{doctor.speciality}}</label>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/doctor-details']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>